.grow {
	flex-grow: 1;
}

.hide {
	display: none;
}

.newProfileForm {
	.MuiButton-root {
		margin-left: auto !important;
	}

	.MuiTextField-root {
		width: 90%;
		margin: 10px;
	}
}

.menuButton {
	margin-right: 36px;
}

// Styling for the bottom navigation bar
.bottomNav {
	position: absolute;
	bottom: 0;
	width: 100%;
}

// the oslo icon
#polar {
	width: 20px;
	fill: white;
}