$drawer-width: 240px;

.drawer {
	width: $drawer-width !important;
	flex-shrink: 0;
}

.drawerPaper {
	width: $drawer-width;
}

.grow {
	flex-grow: 1;
}

.hide {
	display: none;
}

.newProfileForm {
	.MuiButton-root {
		margin-left: auto !important;
	}

	.MuiTextField-root {
		width: 90%;
		margin: 10px;
	}
}

.drawerHeader {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.menuButton {
	margin-right: 36px;
}